<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
 $(function() {
                $(".submit").click(function() {
                    var CustomerFirstName = $("#CustomerFirstName").val();
                    var CustomerLastName = $("#CustomerLastName").val();
                    var Phone = $("#Phone").val();
                    var Postcode = $("#Postcode").val();
                    var CustomerEmail = $("#CustomerEmail").val();
                    var VenueID = $("#VenueID").val();
                     var dataString = 'CustomerFirstName=' + CustomerFirstName + '&CustomerLastName=' + CustomerLastName + '&Phone=' + Phone + '&Postcode=' + Postcode + '&CustomerEmail=' + CustomerEmail;
                     console.log(dataString);
                     var myObject = new Object();
                      myObject.CustomerFirstName = CustomerFirstName;
                      myObject.CustomerLastName = CustomerLastName;
                      myObject.Phone = Phone;
                      myObject.Postcode = Postcode;
                      myObject.CustomerEmail = CustomerEmail;
                      myObject.VenueID = VenueID;
                   // var dataString = 'CustomerFirstName=' + CustomerFirstName + '&CustomerLastName=' + CustomerLastName + '&Phone=' + Phone + '&Postcode=' + Postcode + '&CustomerEmail=' + CustomerEmail;
                    //alert(myObject);

                    //console.log(myObject);
                    //console.log(JSON.parse(myObject));
                    //console.log(newdata);
                    
                    var accountInfo = {
                      "CustomerFirstName": CustomerFirstName,
                      "CustomerLastName": CustomerLastName,
                      "Phone": Phone,
                      "Postcode": Postcode,
                      "CustomerEmail": CustomerEmail
                    };
                    var contactinfo = JSON.stringify(accountInfo);
                    console.log(contactinfo);
                    var token = "eyJhbGciOiJIUzI1NiIsImtpZCI6IjEiLCJ2ZXIiOiIxIiwidHlwIjoiSldUIn0.eyJhY2Nlc3NfdG9rZW4iOiJaSTZGMVgzcnlZcXd4Z2xReEFoMXdSdEEiLCJjbGllbnRfaWQiOiI3ajNmcWowbjBucTdrd2dmNGE5NmE4ZGIiLCJlaWQiOjEwMDAxNDU0Miwic3RhY2tfa2V5IjoiUzEwIiwicGxhdGZvcm1fdmVyc2lvbiI6MiwiY2xpZW50X3R5cGUiOiJTZXJ2ZXJUb1NlcnZlciJ9.rJ8EQofqUo3UMbNj3U-SdwPi96k8qvR6bRcjj1gUHoM.GZFPa6Nq8VFzAxXCj1dyxzrtk8lvUmd7TxatkIeQ78JizjiK5yJOm-flBGj3dniOh6yi2LSSm8Yp0xuMvGHK4xNTX8Ef6OAYnvjiiU7_hNmdHwja7hYO0DJxYBMGwd6FGiBUpBe3b57Mijm8sBJ4Kk9B7p1Y7_T8RI-OrYjMEd0ZXG4tqt_";
                    if (CustomerFirstName == '' || Postcode == '' || Phone == '' || CustomerEmail == '') {
                        $('.success').fadeOut(200).hide();
    
                        $('.error').fadeOut(200).show();
                        
                    }
                    
                    else {
                        $.ajax({
                            type: "POST",
                            contentType: 'application/json',
                            crossOrigin: true,
                            data: contactinfo,
                            cache :false,
                            url: "https://mc7l7fypk60zp-h7jf6n349dqp54.rest.marketingcloudapis.com/messaging/v1/messageDefinitionSends/key:45632/send",
                            headers: {
                            'Authorization': 'Bearer'+token,
                            },
                            dataType: 'json',
                            success: function(responseData, status, xhr) {
                            console.log(responseData);
                            },
                            error: function(request, status, error) {
                            console.log(request.responseText);
                            }
                        });
    
                    }
    
                    return false;
                });
    
            }); 
        </script>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
      <form autocomplete="on" ac class="text-center border border-light p-5" style="background:rgba(253,255,255,0.9); height: 80vh; overflow-y: auto">
          <p class="h4 mb-4">Subscribe to our newsletter</p>

          <p>
            Join our mailing list. We'll update you with all the news from your local.
          </p>
           <hr />
          <!-- Name -->
          <input
            type="text"
            id="CustomerFirstName"
            class="form-control mb-2"
            placeholder="First Name"
          />
          <!-- Last Name -->
          <input
          type="text"
          id="CustomerLastName"
          class="form-control mb-2"
          placeholder="Last Name"
        />       

          <!-- Email -->
          <input
            type="email"
            id="CustomerEmail"
            class="form-control mb-2"
            placeholder="E-mail"
          />

          <!-- Telephone -->
          <input
          type="tel"
          id="Phone"
          class="form-control mb-2"
          placeholder="Mobile No."
        />

          <!--- DOB -->
          <!-- <input placeholder="Date of Birth" type="text" id="DOB" class="form-control datepicker mb-2" /> -->

          <!-- Post Code -->
          <input
          type="number"
          id="Postcode"
          class="form-control mb-2"
          placeholder="Post Code"
        />
              <!-- Venue Id -->
              <input
              type="hidden"
              id="VenueID"
              value="abc"
              class="form-control mb-2"
              placeholder="Venue ID -  Hidden"
            /> 
        <!-- Sign in button -->
        <div class="buttons">
          <input type="submit" value="Submit" style=" background:#0060a1; color:#FFFFFF; font-size:14px; border:1px solid #0060a1; margin-left:12px" class="submit" /><span class="error" style="display:none"> Please Enter Valid Data</span><span class="success" style="display:none"> Registration Successfully Completed..........</span>
      </div>
        <!-- <button class="btn btn-info btn-block mb-3 mt-3" type="submit">Submit</button> -->
        <span class="error" style="display:none"> Please Enter Valid Data</span>
        <span class="success" style="display:none"> Registration Successfully</span>
        <!-- Form Type
          <input
            type="text"
            id="form-type"
            class="form-control mb-2"
            placeholder="Form Type - Hidden"
          /> -->

  
        <!-- Tagged As -->
            <!-- <input
            type="text"
            id="tagged-as"
            class="form-control mb-2"
            placeholder="Tagged as - Hidden"
          /> -->
        <!-- Campaign Tag -->
            <!-- <input
            type="text"
            id="form-type"
            class="form-control mb-2"
            placeholder="Campaign Tag - Hidden"
          /> -->

        <!-- Form ID -->
            <!-- <input
            type="text"
            id="form-type"
            class="form-control mb-2"
            placeholder="Form ID - Hidden"
          /> -->
        <!-- Sign Up Date -->
            <!-- <input placeholder="Sign Up date - Hidden" type="text" id="DOB" class="form-control datepicker mb-4" /> -->


        </form>
  </div>
</div>


</body>
</html>
