<!DOCTYPE html>
<html>
<head>
    
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
      <div id="div1"><h2>jQuery AJAX test</h2></div>

      <button>Get External Content</button>
  </div>
</div>


</body>
</html>
